@model ShopCartViewModel

<div class="container">
    @foreach (var el in Model.shopCart.listShopItem) {
        <div class="alert alert-warning mt-3">
            <b>Car: </b>@el.car.nameCar <br />
            <b>Price: </b>@el.car.priceCar.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger md-5" asp-controller="Order" asp-action="Checkout">Pay</a>
</a>