@model HomeViewModel


<h1>Лучшие автомобили</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.favCars)
        { // чтобы можно было обращаться к Model подключаем using в _ViewImports
            @Html.Partial("AllCars", car); //@Html.Partial - для подлючения шаблона, параметры какой шаблон и что в него передавать
        }
    }
</div>


